body {
    background-color: #232F3E;
    }


#callAPI{

    background-color: cornflowerblue;
}
#signuptitle{
    background-color: plum;

    
}
input{
    height: 30px;
    width: 200px;
    border-style: black;
    border: white;
    border-radius: 10px;
    border-width: 5px;
}

.formbox{
    width: 400px;
    font-family: monospace;
    font-size: 20px;
    display: flex;
    flex-flow:column;
    margin: 50px  50px  50px  50px ;
    padding: 15px  15px  15px  15px;


}

#jobForm{
    padding: 20px 20px 20px 20px;
}