body {
    display: flex;
    flex-flow: column;
    margin-left: 2%;
    margin-right: 2%;

    }


#header{
    background-color: white;
    padding: 1%;
    border-bottom: solid;
    margin-bottom: 1%;
}

#content{

    background-color: cornflowerblue;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}

.formbox{
    display:grid;
    grid-template-columns: auto;
    padding: 2% 2% 2% 2%;
}

.formheader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputbox{
    display: flex;
    flex-flow: column;
    margin-top: 1%;
    margin-bottom: 1%;

}

label{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

.btnbox{
    display: flex;
    flex-flow: row-reverse;
}

button{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1% 1% 1% 1%;
    padding: 1% 1% 1% 1%
    
}

input{
    border-radius: 5px;
    height: 30px;
}